<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:fragment="header-css">
        <link rel="stylesheet" type="text/css" th:href="${webRoot} + '/bootstrap/css/bootstrap.min.css'">
    </div>
</head>
<body>

    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
            <div class="container">
                <div class="navbar-brand">Guess the Number</div>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/guessnumber}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/rating}">Rating</a>
                        </li>
                    </ul>
                </div>
                <form class="form-inline">
                    <span th:utext="${userName}" style="margin: 0 15px;"></span>
                    <a class="text-primary" th:href="@{/logout}" style="text-decoration: none;">Sign Out</a>
                </form>
            </div>
        </nav>
    </div>

    <div th:fragment="header-sign">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
            <div class="container">
                <div class="navbar-brand">Guess the Number</div>
            </div>
        </nav>
    </div>

</body>
</html>