.inner {
    margin: 20px auto;
    width: 600px;
}

.check-form__input {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

.check-form__button {
    display: inline-block;
    vertical-align: middle;
}

.table__outer {
    height: 290px; 
    overflow-y: auto;
}

.table__attempts thead {
    font-weight: 600;
}