.numpad {
    position: relative;
    display: none;
    margin-top: 20px;
}

.numpad__container {
    background: #fff;
    position: absolute;
    border: 1px solid #eee;
    padding: 15px;
    margin-left: 215px;
}

.numpad__btn{
    margin:3px;
    width: 50px;
    height: 50px;
}