<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page - Guess the Number</title>
    <div th:replace="thymeleaf/fragments/header :: header-css"/>
</head>
<body>
    <div th:replace="thymeleaf/fragments/header :: header-sign"/>

    <div class="container">
        <div class="col-xs-12 col-sm-8 col-md-4" style="margin: 0 auto;">
            <form th:action="@{/login}" method="POST">
                <br/><h3>Sign In</h3>
                    <div th:if="${param.error}">
                        <small><span class="text-danger">Invalid login or password</span></small>
                    </div>
                    <div th:if="${param.logout}">
                        <small><span class="text-success">You've been logged out</span></small>
                    </div>
                <br/>

                <div class="form-group">
                    <input class="form-control" type="text" id="login" name="login"
                           required="true" autofocus="true" th:placeholder="Login"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" id="pass" name="pass"
                           required="true" th:placeholder="Password"/>
                </div>

                <button class="btn btn-primary" type="submit" name="Submit" value="Sign In">Sign In</button>
            </form>
            <br/>
            <form>
                <small>
                    <a class="text-primary" th:href="@{/registration}" style="text-decoration: none;">
                        Don't have an Account? Sign Up</a>
                </small>
            </form>
        </div>
    </div>

    <div th:replace="thymeleaf/fragments/footer :: footer"/>
</body>
</html>