<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page - Guess the Number</title>
    <div th:replace="thymeleaf/fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" th:href="${webRoot} + '/css/main.css'">
    <link rel="stylesheet" type="text/css" th:href="${webRoot} + '/css/callout.css'">
</head>
<body>
    <div th:replace="thymeleaf/fragments/header :: header"/>

    <div class="container">
        <div class="inner">
            <h3>Top 10: Average number of attempts before right guessing</h3>
            <div class="bs-callout bs-callout-limegreen" th:if="${avgNumOfAttempts}">
                <div>
                    <h4 th:if="${avgNumOfAttempts}">
                        Your Avg:
                        <span th:utext="${#numbers.formatDecimal(avgNumOfAttempts, 1, 2, 'POINT')}"></span>
                    </h4>
                </div>
            </div>
            <div class="bs-callout bs-callout-info" th:if="${ratingList.size()} == 0">
                <div>
                    <h4>No data available.</h4>
                    <p>When you and other users start guessing the Numbers you will see the Top 10. Start guessing numbers to see your rating.</p>
                </div>
            </div>
            <table class="table table-condensed">
                <thead style="font-weight: 600;">
                    <tr>
                        <td>Username</td>
                        <td>Avg.</td>
                        <td>Place</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row : ${ratingList}">
                        <td th:text="${row.getName()}"></td>
                        <td th:text="${#numbers.formatDecimal(row.getAvgNumOfAttempts(), 1, 2, 'POINT')}"></td>
                        <td th:text="${row.getPlace()}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="thymeleaf/fragments/footer :: footer"/>
</body>
</html>