<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration - Guess the Number</title>
    <div th:replace="thymeleaf/fragments/header :: header-css"/>
</head>
<body>
    <div th:replace="thymeleaf/fragments/header :: header-sign"/>

    <div class="container">
        <div class="col-xs-12 col-sm-8 col-md-4" style="margin: 0 auto;">
            <form th:action="@{/registration}" th:object="${user}" method="POST">
                <br/>
                    <h3>Sign Up</h3>
                    <div th:if="${successMessage}">
                        <small>
                            <span class="text-success" th:utext="${successMessage}"></span>
                            <a class="text-success" th:href="@{/login}" style="text-decoration: underline;">
                                Go to Sign In form</a>
                        </small>
                    </div>
                <br/>

                <div class="form-group">
                    <input class="form-control" type="text" id="login" name="login" th:field="*{login}"
                           required="true" autofocus="true" placeholder="New Login"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></small>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" id="pass" name="pass" th:field="*{pass}"
                           required="true" placeholder="New Password"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></small>
                </div>

                <button class="btn btn-primary" type="submit" name="Submit" value="Sign In">Create</button>

            </form>
        </div>
    </div>
    
    <div th:replace="thymeleaf/fragments/footer :: footer"/>
</html>